# Backend API Base URL (empty means relative to current domain via Vite proxy)
VITE_API_BASE_URL=

# Default Dev JWT for Teacher
VITE_DEV_TEACHER_TOKEN=

# Default Dev JWT for Student
VITE_DEV_STUDENT_TOKEN=
